
.code__format {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.8rem;
    color: #aeaeae;
    background-color: #2f2f2f;
    width: fit-content;
    padding: .5rem 1rem;
    margin: 2rem 0;
    border-radius: 2px;
}

.code__multi-line {
    border: 1px solid #606060;
    width: 70rem;
}