.docs__title {
    text-align: center;
    margin-bottom: 5.5rem;
}

.docs__container {
    display: flex;
}

.docs__sidebar {
    white-space: nowrap;
    width: 20vw;
    margin-top: 2rem;
}

.docs__sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.docs__sidebar--sublist {
    text-indent: 2rem;
}

@media (min-height: 300px) {
    .docs__sidebar ul {
        position: sticky;
        top: 20rem;
    }
}
.docs__sidebar ul li a {
    display: block;
    padding: 0.5rem 3rem;
    color: white;
    text-decoration: none;
}

.anchor-point {
    height: 150px;
    visibility: hidden;
}

main {
    padding-bottom: 40rem;
}

section {
    padding: 2rem;
    margin: -150px 0 2rem 0;
    width: 60vw;
}

hr {
    border: 1px solid #323232;
}

table {
    border-collapse: collapse;
    font-size: 1.7rem;
}

tr:nth-child(even) {
    background-color: #2b2b2b;
}

table th {
    font-weight: bold;
    border: 1px solid #999999;
    padding: 7px 5px;
}

table td {
    border: 1px solid #999999;
    padding: 5px 5px;
}

.docs__order {
    display: flex;
    flex-direction: column;
}

.docs__order p {
    margin: .8rem 0;
}

@media screen and (max-width: 550px) {
    table {
        font-size: 1.4rem;
        width: inherit;
    }

    h3 {
        font-size: 1.5rem;
    }

    .docs__container {
        display: block;
    }

    .docs__sidebar {
        width: auto;
        position: sticky;
        top: 0;
        background-color: #000000;
    }

    .docs__sidebar ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .docs__sidebar--sublist {
        text-indent: unset;
    }
}

