
nav {
    height: 4rem;
    margin-top: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.nav__link {
    text-decoration: none;
    margin: 1rem;
    color: var(--primary-font-color);
}

.nav__link:hover {
    color: var(--hover-link-color);
}

header {
    display: flex;
    flex-direction: column;
}

.header__logo {
    background-image: url("../static/gomorra_logo.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 45rem;
}

.header__sub-title {
    width: fit-content;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.header__sub-title p {
    color: var(--primary-font-color);
    font-size: 2.4rem;
    margin-top: -115px;
}

.content-wrapper {
    margin: 3rem 2rem;
    padding: 1.5rem 0;
}

footer {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    /*bottom: 5px;*/
    color: var(--tertiary-font-color);
    padding: 2rem 0;
}

footer a {
    text-decoration: none;
    margin: 1rem;
    color: inherit;
}

.footer__github {
    width: 2.7rem;
    height: 2.7rem;
    opacity: 0.4;
}

@media screen and (max-width: 550px) {
    .header__logo {
        background-size: 600px;
    }
    .header__sub-title p {
        font-size: 1.8rem;
        margin-top: -160px;
    }
}