*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
  Responsiveness breakpoints: 550px,
*/

:root {
  --primary-font-color: #d0d0d0;
  --secondary-font-color: #9d9d9d;
  --tertiary-font-color: #4f4f4f;
  --hover-link-color: #efebeb;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--primary-font-color);
  background-color: #000000;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
